a{
    text-decoration: none;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(31,31,31);
}
.container{
    width: 80%;
    margin: auto;
}


/* Section */
.section__title{
    width: 50%;
    text-align: center;
    font-size:40px;
    margin: 50px auto;
}

/* header */
.header__logo{
    display: inline-block;
    width: 100px;
}
.header_inner{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.nav__item{
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #1f1f1f;
    transition: color 0.2s linear;
}
.nav__item:hover{
    cursor: pointer;
    color: #fec223;
}


/* intro section */
.intro{

}
.intro__inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    font-weight: 600;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: #1f1f1f;
    font-size: 80px;
    line-height: 0.8;
    text-transform: uppercase;

}
.intro__enactus{
    color: #fec223;
}
.intro__wrapper{
    width: 50%;
}
.intro__picture{
    width: 100%;
}

/* about-us */
.about-us{
    padding-top: 40px;
    height: 100vh;
    width: 100vw;
    background-color: rgb(31, 31, 31);
    border-top: 10px solid #fec223;
}
.about-us__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.section__title_about-us{
    color: #fec223;
}

.about-us__picture{
    width: 40%;
}



.about-us__content{
    width: 50%;
    color: white;
}
/* accordion */


.content__item{
    border: 2px solid green;
    margin-bottom: 25px;
}
.content__input{
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}
.content__input:checked ~ .content__title{
background-color: green;
}
.content__input:checked ~ .content__text{
    display: block;
}
.content__input:checked ~ .content__title::after{
    border-style: solid;
    border-width: 0 3.5px 7px 3.5px;
    border-color: transparent transparent #ffffff transparent;
}

.content__title{
    padding: 10px 15px;
    display: block;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s linear;
}
.content__title::after{
    content: '';
    border-style: solid;
    border-width: 7px 3.5px 0 3.5px;
    border-color: #ffffff transparent transparent transparent;

    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.content__title:hover{
    background-color: green;
}
.content__text{
    display: none;
    padding: 10px 15px;
}


.about-us__title{
    font-size: 20px;
}
.about-us__text{
    font-size: 15px;
}

/* blog section */

.blog{
    padding: 50px;
    border-top: 10px solid #fec223;
    text-align: center;
}

.blog--container{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.article{
    position: relative;
    background-color: rgba(254, 194, 35, .89);
    margin: auto;
    text-align: center;
    width: 400px;
    height: 400px;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 0 0 10px transparent;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   margin: 0 25px 40px 25px;
}

.article--title{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.article--text{
    height: 200px;
    font-size: 18px;
    margin-bottom: 20px;
}

.article--date{
    font-size: 16px;
    margin-bottom: 20px;
}

.article:hover{
    box-shadow: 0 0 10px gray;
}

.article:hover .article--read{
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

.article--read{
    position: relative;
    padding: 15px 20px;
    border-radius: 15px;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    color: black;
    opacity: 0;
}

.article--read:hover{
    background-color: black;
    color: white;
    border: .5px solid black;
}

/* team section */

.team{
    padding: 50px;
    border-top: 10px solid black;
}

.team--container{
    margin-top: 100px;
    display: flex;
    overflow-x: auto;
}

.employee{
    min-width: 360px;
    height: 360px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 0 25px 40px 25px;
}

.employee--avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #fec223;
}

.employee--name{
    font-size: 20px;
    margin-bottom: 20px;
}

.employee--position{
    font-size: 18px;
}



/* Projects */
.project{
    height: 560px;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;
    border-top: 10px solid #fec223;
    margin-bottom: 150px;
}
.project__inner{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.project__item{
    height: 100%;
    width: 50%;
    text-align: center;
}
.project__icon{
    width: 40%;
    border-radius: 100px;
}
.project__title{
    margin: auto;
    margin-top: 30px;
    padding-bottom: 10px;

    width: 50%;
    border-bottom: #fec223 3px solid;

    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.project__subtitle{
    width: 70%;
    height: 40px;
    margin: auto;
    margin-top: 20px;

    font-size: 15px;

}
.project__button{
    margin-top: 30px;

    width: 120px;
    height: 30px;

    color: white;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;

    border: none;
    background-color: #fec223;
    border-radius: 10px;
    
    transition: all 0.3s linear;
}
.project__button:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    cursor: pointer;
}



/* footer */
.footer{
    background-color: rgb(31, 31, 31);
    height: 300px;
    width: 100%;
}
.footer__inner{
    padding-top: 40px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.footer__block{
    width: 25%;
}
.footer__title{
    font-weight: 600;
    width: 60%;
    font-size: 13px;
    text-transform: uppercase;
    color: #fec223;
    padding-bottom: 10px;
    border-bottom: 2px solid #fec223;
}
.footer__content{
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}
.footer__item{
    margin-top: 6px;
    transition: color 0.2s linear;
    cursor: pointer;
}
.footer__item_email{
    text-transform: lowercase;
}
.footer__item:hover{
    color:#5944d1
}
